<footer id="footer">
  <div class='leftColumn'>
    <span>@2018 - Julien Haegman, Tous droits réservés</span>
  </div>
  <div class="formColumn">
    <form action="../toast.php" method="post">
      <h1>Contact</h1>
      <svg class='formPoly' data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 203.47 176.21">
        <polygon points="152.6 0 50.87 0 0 88.1 50.87 176.21 152.6 176.21 203.47 88.1 152.6 0"/>
      </svg>
      <input type="text" placeholder="Nom" name="nom" aria-labelledby="Nom">
      <input type="email" placeholder="Adresse mail" name="mail" aria-labelledby="E-mail">
      <textarea placeholder="Votre message" cols="30" rows="5" name="message"aria-labelledby="Message" ></textarea>
      <button type="submit" aria-label="Envoyer">Envoyer</button>
    </form>
  </div>
  <div class='rightColumn'>
    <span>SIRET n°84068032600013</span>
  </div>
</footer>
