$primary : #e17055;
$secondary : #f9b1a0;
$light : #f4d4d0;
$dark : #72392c;

#showcase{
  position: relative;
  height: 100vh;
  background: $light;
  .in{
    height: 100%;
    width: 100%;
    display : grid;
    grid-template-columns: 5vw 5.5fr 5vw;
    div{
      align-self: center;
    }
    .showcaseContent{
      display: grid;
      grid-template-columns: 1.4fr 1.2fr;
      grid-gap: 5%;
    }
    .showcaseDescription{
      padding: 0 5% 0 20%;
      a {
        color: $primary;
        h2 {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 1.75em;
          display: inherit;
        }
      }
      p {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.4em;
      }
    }
    .showcasePreview{
      position: relative;
      height: 50vh;
      float: right;
      #showcasePreviewPoly{
        position: absolute;
        height: 100%;
        fill: $primary;
        transition: all 1s;
      }
      a{
        img{
          display: none;
          position: absolute;
          height: 100%;
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
      }

    }
    .previousBlock, .nextBlock{
      svg{
        height: 10vh;
        margin: 3vh;
        cursor: pointer;
        fill: $secondary;
        transition: all .2s;
        &:hover {
          fill: $primary;
        }
      }
    }
    .previousBlock{
      z-index: 500;
      svg{
        float: left;
      }
    }
    .nextBlock{
      z-index: 500;
      svg{
        float: right;
      }
    }
    .browse{
      grid-column: span 4;
      justify-self: center;
      display: flex;
      svg{
        height: 3.5vh;
        margin: 0 2%;
        cursor: pointer;
        &:hover > .browseIconcls-1{
          fill: $primary;
        }
        .browseIconcls-1{
          transition: all .1s;
        }
      }
    }
  }

  .showcaseFooter{
    position: absolute;
    bottom: 0;

    #showcaseFooterMainPoly{
      z-index: 10;
      fill: $primary;
      position: absolute;
      bottom: 0;
      width: 30vw;
      left: calc((100vw - 30vw) / 2 );
      margin: auto;
      polygon{
        fill: $primary;
      }
      path{
        fill: white;
        opacity: 0.9;
      }
    }
    #showcaseFooterOutsidePoly{
      z-index: 0;
      fill: $secondary;
      width: 100vw;
      position: absolute;
      bottom: 0;
    }
  }
  .navigation{
    position: fixed;
    bottom: 9%;
    width: 2.5%;
    right: 2%;
    opacity: 0;
    a{
      #navigateUp{
        margin-bottom: 40%;
      }
      #navigateUp, #navigateDown{
        cursor: pointer;
        transition: all .25s;
        path{
          fill: $primary;
        }
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}


@media screen and (max-width: 768px) and (orientation: portrait){
  .showcaseContent{
    grid-template-columns: none !important;
    grid-template-rows: 1fr 1fr;
    .showcaseDescription{
      grid-row: 2;
      padding: 0 10% !important;
      text-align: center !important;
      margin-top: -25% !important;
      font-size: 0.8em;
    }
    .showcasePreview{
      grid-row: 1;
      img, svg{
        display: block;
        text-align: center;
        margin:auto;
      }
      img{
        right: 0;
        left: 0;
        height: 80% !important;
        top: 20%;
      }
      svg{
        display: none;
      }
    }
  }

  #showcaseFooterMainPoly{
    display: none;
  }

  #showcaseFooterOutsidePoly{
    display: none;
  }

  .browse{
    display: none !important;
  }

  #navigateDown{
    position: fixed;
    bottom: 2%;
    width: 10%;
    left: 45%
  }

  #navigateUp{
    position: fixed;
    top: 2%;
    width: 10%;
    left: 45%
  }
}
