<section id="about">
  <div id="aboutPart">
    <div>
      <h1>A propos de ce site</h1><br>
      <p>Réalisé avec le Framework <a href="https://angular.io/" target="_blank" rel="noopener">Angular (v.6)</a> et la librairie d'animation <a href="https://greensock.com/gsap" target="_blank" rel="noopener">GSAP</a>. Il respecte une maquette réalisée sous Adobe Illustrator et sera par la suite adapté aux appareils mobiles. Son référencement, temps de chargement et l'organisation de son code seront également revus pour respecter la
        <a href="https://frontendchecklist.io/" target="_blank" rel="noopener">Front-end checklist</a>.</p>
    </div>
  </div>
  <app-footer id="footerPart"></app-footer>
</section>
