$primary : #636e73;
#about{
  #aboutPart {
    height: 25vh;
    background: $primary;
    width: 100%;
    display: table;
    div{
      padding: 0 20%;
      display:table-cell;
      vertical-align: middle;
    }
    h1,p {
      color: white;
      text-align: center;
    }
    h1{
      font-family: "Futura", sans-serif;
      font-weight: 300;
      font-size: 1.8em;
      text-transform: uppercase;
    }
    p{
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.5em;
      a{
        color: white;
        font-weight: bolder;
      }
    }
  }
  .navigationFooter{
    position: fixed;
    top: 5%;
    width: 2.5%;
    right: 2%;
    a{
      #navigateUp{
        margin-bottom: 40%;
      }
      #navigateUp{
        cursor: pointer;
        transition: all .25s;
        path{
          fill: rgba(255,255,255, 1);
        }
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}

// 1024*768
@media screen and (max-height: 768px), screen and (max-width: 1024px){
  #aboutPart {
    p{
      font-size: 1.2em !important;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: portrait){
  #aboutPart {
    div{
      padding: 0 5% !important;
    }
    h1{
      font-size: 1.1em !important;
    }
    p {
      font-size: 0.9em !important;
    }
  }

  #navigateUp{
    width: 10%;
    position: fixed;
    right: 5%;
  }
}


