<section id="about">
  <div id="aboutPart">
    <div>
      <h1>A propos de ce site</h1><br>
      <p>Réalisé avec le Framework <a href="https://angular.io/" target="_blank" rel="noopener" title="Angular.io">Angular (v.6)</a> et la librairie d'animation <a href="https://greensock.com/gsap" target="_blank" rel="noopener" title="Site de Greensock">GSAP</a>.
        <br> Site Responsive, respecte la <a href="https://frontendchecklist.io/" target="_blank" rel="noopener" title="FrontEndChecklist.io">Front-end checklist</a> et son code source <a href="https://github.com/Skiwa/jhaegman.com/" target="_blank" rel="noopener" title="Repository GitHub">est disponible sur GitHub</a>.</p>
    </div>
  </div>
  <app-footer id="footerPart"></app-footer>

  <div class="navigationFooter">
    <a title="Haut de page" (click)="navigateTop()">
      <svg id="navigateUp" viewBox="0 0 277.44 223.08"><path d="M267.43,148.72a10,10,0,0,1-7.07-2.93L138.72,24.14,17.07,145.79A10,10,0,0,1,2.93,131.64L131.64,2.93a10,10,0,0,1,14.14,0h0L274.5,131.64a10,10,0,0,1-7.07,17.08Z"/><path d="M267.43,148.72a10,10,0,0,1-7.07-2.93L138.72,24.14,17.07,145.79A10,10,0,0,1,2.93,131.64L131.64,2.93a10,10,0,0,1,14.14,0h0L274.5,131.64a10,10,0,0,1-7.07,17.08Z"/><path d="M267.43,223.08a10,10,0,0,1-7.07-2.93L138.72,98.5,17.07,220.15A10,10,0,0,1,2.93,206L131.64,77.29a10,10,0,0,1,14.14,0h0L274.5,206a10,10,0,0,1-7.07,17.08Z"/></svg>
    </a>
  </div>
</section>
