$primary: #07b793;
$secondary: #78cab3;
$light: #cde9dc;
$dark: #033325;

@mixin skillsNames{
  font-family: Futura, sans-serif;
  font-size: 1.2em;
  line-height: 100%;
  display:table-cell;
  color: $dark;
}

@mixin sideTitles{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase;
}

@mixin subskill{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.3;
}

@mixin link{
  color: #057f62 !important;
  text-decoration: underline;
  cursor: pointer;
}

#home{
  min-height: 100vh;
  width: 100vw;
  background: $light;
  .banner{
    position: relative;
    top: 0;
    #homeBannerMainPoly{
      z-index: 10;
      position: absolute;
      top: 0;
      width: 30vw;
      left: calc((100vw - 30vw) / 2 );
      margin:auto;
      transform : scaleX(0);
      polygon{
        fill: $primary;
      }
    }
    #homeBannerBackgroundPoly{
      z-index: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      margin:auto;
      transform : scaleX(0);
      rect{
        fill: $secondary;
      }
    }
  }
  .presentation{
    height: 100%;
    width: 40%;
    float: left;
    #presentationIn{
      .avatar{
        margin: 15% auto 0 auto;
        height: 35vh;
        display: block;
      }
      .social{
        display:block;
        text-align: center;
        .polySocial{
          height: 10vh;
          margin: auto;
          fill: $dark;
          transition: all .25s;
          &:hover {
            transform: scale(1.1);
            & > .polySocialIn {
              fill: white;
              opacity: 0.90
            }
          }
        }
        .polySocialLeft{
          margin-right: 2.5vh;
        }
        .polySocialCenter{
          margin-bottom: -5vh;
        }
        .polySocialRight{
          margin-left: 2.5vh;
        }
        .polySocialIn{
          fill: $light;
        }
        .polySocialOut{
          fill: $dark;
        }
      }
      h1{
        margin: 10% auto auto auto;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.75em;
      }
      p{
        width: 80%;
        margin: auto;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.5em;
        a{
          color: $primary;
          font-weight: bolder;
        }
      }
    }

  }
  .skills{
    height: 80vh;
    width: 45%;
    float: right;
    margin-top: 20vh;
    margin-right: 5%;
    background: $light;
    .side-title{
      @include sideTitles;
    }

    .front-end{
      display:grid;
      grid-template-columns: 3fr 8fr;
      grid-template-rows: max-content;
      margin-bottom: 5vh;
      div{
        height: 4vh;
        padding: 1.5% 1.5% 1.5% 0;
        span{
          vertical-align: middle;
        }
        .html,.css,.js,.ui,.ux{
          display:block;
          height: 100%;
          background-color: $primary;
          transform-origin: 0% 100%;
          transform:  scaleX(0);
        }
        .html{ width: 100%;}
        .css{ width: 100%;}
        .js{width: 80%;}
        .ui{width: 70%;}
        .ux{width: 60%;}
      }
      div:nth-child(even) {
        border-left: solid $dark 3px;
      }
      div:nth-child(odd) {
        display: table;
        span{
          @include skillsNames;
        }
        .subskill{
          display: none;
          opacity: 0;
          transform-origin: top;
          span{
            display: block;
            @include subskill;
          }
        }
      }
    }

    .back-end{
      display:grid;
      grid-template-columns: 3fr 8fr;
      grid-template-rows: max-content;
      div{
        height: 4vh;
        padding: 1.5% 1.5% 1.5% 0;
        span{
          vertical-align: middle;
        }
        .php,.node,.api,.bdd{
          display:block;
          height: 100%;
          background-color: $primary;
          transform-origin: 0% 100%;
          transform:  scaleX(0);
        }
        .php{width: 70%;}
        .api{width: 70%;}
        .bdd{width: 60%;}
        .node{width: 50%;}

      }
      div:nth-child(even) {
        border-left: solid $dark 3px;
      }
      div:nth-child(odd) {
        display: table;
        span{
          @include skillsNames;
        }
        .subskill{
          display: none;
          opacity: 0;
          transform-origin: top;
          span{
            display: block;
            @include subskill;
          }
        }
      }
    }

    .front-end, .back-end{
      .link{
        @include link;
      }
      svg{
        height: 3em;
      }
      .subskill{
        margin-bottom: 2px;
      }
    }
  }
  .navigation{
    position: fixed;
    bottom: 9%;
    width: 2.5%;
    right: 2%;
    opacity: 0;
    a{
      #navigateUp{
        margin-bottom: 40%;
      }
      #navigateUp, #navigateDown{
        cursor: pointer;
        transition: all .25s;
        path{
          fill: #057f62;
        }
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}

// 1366 * 768
@media screen and (max-width: 1366px), screen and(max-height: 768px){
  .presentation{
    width: 50% !important;
  }
}
// 1024*768
@media screen and (max-width: 1024px), screen and(max-height: 768px){
  .presentation{
    h1{
      font-size: 1.5em !important;
      margin-top: 10vmin !important;
    }
    p{
      font-size: 1.3em !important;
    }
  }
  .skills{
    .front-end, .back-end{
      div{
        height: 3vh !important;
      }
    }
  }

  #home .skills .front-end div:nth-child(2n+1) .subskill span,  #home .skills .back-end div:nth-child(2n+1) .subskill span{
    font-size: 1em !important;
  }
}

@media screen and (max-height: 860px){
  .skills{
    .front-end, .back-end{
      div{
        height: 3vh !important;
      }
    }
  }
}


@media screen and (max-width: 768px)  and (orientation: portrait) {
  .presentation{
    width: 90% !important;
    display: block;
    padding-left: 5%;
    margin-top: 7%;
    .avatar{
      height: 30vh !important;
    }
    .social{
      .polySocial{
        height: 8vh !important;
      }
    }
    #presentationIn{
      h1{
        font-size: 1.3em !important;
        padding-top: 5%;
      }
      p{
        font-size: 1em !important;
        width: 90% !important;
      }
    }
  }
  .skills {
    width: 90% !important;
    display: block;
    margin: 0 !important;
    padding: 10% 5% 0% 5%;
  }

  .front-end, .back-end{
    grid-template-columns: 1fr 1fr !important;
  }

  .front-end {
    margin-bottom: 10vh !important;
  }
  .side-title{
    text-align: center;
    margin-bottom: 2%;
  }
  .front-end div:nth-child(odd) span, .back-end div-nth-child(odd) span{
    text-align: center;
  }

  #navigateUp{
    position: fixed !important;
    top: 5%;
    width: 10%;
    left: 45%;
  }

  #navigateDown{
    position: fixed !important;
    bottom: 5%;
    width: 10%;
    left: 45%;
  }

}
